*{padding:0;margin:0;border:0;}

body
{
	background: #fff;
	color: #282931;
	background: #fff;
	font-family: "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}


a			{ color: #37425f; }
a:link		{ color: #37425f; }
a:visited	{ color: #37425f; }
a:hover		{ color: black; }

h1 { font-size: 20pt; font-weight: 900; }
h2 { font-size: 16pt; font-weight: bold; }
h3 { font-size: 16pt; font-weight: normal; }
h4 { font-size: 12pt; font-weight: bold; }

h1,h2,h3,h4 {
	margin-top: 0px;
	margin-bottom: 3pt;		
	padding-top: 10pt;
}


.thumbnail
{
	padding: 4px;
	border: 1px solid #b2b2b2;
	margin: 15px;
	display: block;
	width: 144px;
}

.thumbnail img
{
	width: 144px;
}

.thumbnail a img
{
	display: block;
	border: 1px solid #242737;
}


.floatright
{
	float: right;
}

.floatleft
{
	float: left;
}


.header
{
	background-image: url("http://www.gnustep.org/resources/documentation/User/masthead-bg.jpg");
	background-repeat: repeat-x;
	height: 74px;
	width: 100%;
	background-color: #424f6f;
}

.header img
{
	display: block;
	border: 0px;
}

.container
{
	margin: 0px 200px 0px 0px;
	border-right: 1px dashed #282931;
}

.content
{
	padding: 15pt 15pt;
	border-bottom: 1pt solid #e8e8e8;
}

.content * {
	line-height: 18pt;
}

ul,ol { margin-left: 14pt; }
blockquote { margin: 6pt; padding: 0 6pt; border-left: 3px solid #ccc; }

.feature
{
	background-image: url("http://www.gnustep.org/resources/documentation/User/grid-bg.png");
}

.downloads
{
	font-size: 12pt;
	text-align: center;
}

.news
{
	font-size: 12pt;
	margin-left: 10pt;
	margin-top: 15pt;
}

.sidebar { line-height: 18pt; }
.sidebar a			{ text-decoration: none; }
.sidebar a:link		{ text-decoration: none; }
.sidebar a:visited	{ text-decoration: none; }
.sidebar a:hover	{ text-decoration: underline; }

dt { font-weight: bolder }
dl.maillists dt a { float: left; padding: 0 2pt; }
dt .aux { font-weight: lighter; float: right }
dd { padding: 0 0 1em 2em; clear: both; }
p { margin-top: 1em; }
