.sidebar
{
	background-color: #cccccc;
	position: absolute;
	top: 85px;
	right: 0px;
	width: 130px;
	padding: 10px 10px 5px 5px;
	margin-right: 10px;
	border: 2px;
	border-style: solid;
	border-color: black;
}



.sidebar { line-height: 18pt; }
.sidebar a			{ text-decoration: none; }
.sidebar a:link		{ text-decoration: none;  }
.sidebar a:visited	{ text-decoration: none;  }
.sidebar a:hover	{ text-decoration: underline; }


