
body
{
	background: #223355;
	color: #050033;
	font-family: Helvetica, Arial, "Helvetica Neue", "Helvetica Neue Light", sans-serif;
	font-size: 10pt;
	margin: 0px;
}


a		{ color: #111155; }
a:link		{ color: #111177; }
a:visited	{ color: #331188; }
a:hover		{ color: black; }

h1 { font-size: 20pt; font-weight: 900; color: black; }
h2 { font-size: 16pt; font-weight: bold; color: black; }
h3 { font-size: 14pt; font-weight: normal; color: black; }
h4 { font-size: 12pt; font-weight: bold; color: black; }
h5 { font-size: 10pt; font-weight: normal; color: black; }

h1,h2,h3,h4 {
	margin-top: 0px;
	margin-bottom: 3pt;
	padding-top: 10pt;
}


.thumbnail
{
	padding: 4px;
	border: 1px solid #b2b2b2;
	margin: 10px;
	display: block;
}

.thumbnail img
{
	width: 144px;
}

.thumbnail a img
{
	display: block;
	border: 1px solid #242737;
}


.floatright
{
	float: right;
}

.floatleft
{
	float: left;
}


.header
{
	background-image: url("masthead-bg.jpg");
	background-repeat: repeat-x;
	height: 74px;
	width: 100%;
	background-color: #424f6f;
}

.header img
{
	display: block;
	border: 0px;
}

.container
{
	margin: 10px 190px 0px 10px;
}

.content
{
    padding: 4px 8px 4px 8px;

    
    margin-bottom: 15px;

    background-color: #cccccc;

    border: 4px;
    border-style: solid;
    border-color: #555555;
}


.content * {
	line-height: 18pt;
}

ul,ol { margin-left: 14pt; }
blockquote
{
    margin: 6pt; padding: 0 6pt; border-left: 3px solid #ccc;
}

.feature
{
	background: #555555;
	background-image: url("dotted-grid-dark.png");
	padding: 4px 8px 4px 8px;
}
.feature p { color: #ffffff; }
.feature h1 { color: #ffffff; }
.feature h2 { color: #ffffff; }
.feature h3 { color: #ffffff; }

.downloads
{
	font-size: 12pt;
	text-align: center;
}

.internal_links
{
	font-size: 12pt;
	text-align: center;
}

.news
{
	font-size: 12pt;
	margin-left: 10pt;
	margin-top: 15pt;
}
.appicon
{
	float: left;
	padding: 10px;
	margin: 20px;
	background-color : #888888;	
	border-width : thin;
    	border-style: solid;
	border-color : #eeeeee;
}

dt {
	font-weight: bolder;
	font-size: 11pt;
}
dd { 
	padding-left: 0em; 
	font-size: 10pt;
}
p { margin-top: 1em; }

dt.unreleased {
	background:url(images/coming_soon.png) no-repeat bottom left;
}


