<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>GNUstep: </title>
	<link rel="stylesheet" href="../gnustep-main.css" type="text/css" />	
	<style type="text/css" media="screen">
		@import "../gnustep-main-2.css";
	</style>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>
<body>


<div class="header">
	<a href="/"><img src="../gnustep-header14.jpg" border="0" alt="GNUstep.org" width="560" height="74" /></a> </div>


<div class="container">

	<div class="content"><div id="main">

<p>This is a template file.</p>
	
	</div></div>

</div>


<div class="sidebar">
	
  <a href="../">Home page</a><br />
  <a href="../information/aboutGNUstep.html">Introduction</a><br />
  <a href="../experience/apps.html">Applications</a><br />
  <a href="../resources/sources.html">Download</a><br />
  <a href="http://wiki.gnustep.org/index.php/User_Guides">User Guides</a><br />
  <a href="../developers">Developers</a><br />
  <a href="http://wiki.gnustep.org/index.php/GNUstepWiki:Site_support">Donations</a><br />
  <a href="http://wiki.gnustep.org/index.php/Get_Help">Get Help</a><br />
  <br />
  <a href="http://wiki.gnustep.org/index.php/Report_Bugs">Report Bugs</a><br />
  <a href="http://wiki.gnustep.org/">Project Wiki</a><br />
  <br />
  Site by <a href="mailto:gnustep-webmasters@gnu.org">gnustep-webmasters@gnu.org</a>
  
</div>



</body>
</html>
