{
    AGSHtml = (
	"-decIndent",
	"-incIndent",
	"-makeAnchor:ofType:name:",
	"-makeLink:ofType:isRef:",
	"-makeLink:ofType:inUnit:isRef:",
	"-outputIndex:scope:title:style:target:to:",
	"-outputDocument:",
	"-outputNode:to:",
	"-outputNodeList:to:",
	"-outputBlock:to:inPara:",
	"-outputList:to:",
	"-outputText:to:",
	"-outputUnit:to:",
	"-outputVersion:to:",
	"-protocolRef:",
	"-setGlobalRefs:",
	"-setLocalRefs:",
	"-setProjectRefs:",
	"-setInstanceVariablesAtEnd:",
	"-typeRef:"
    );
    AGSIndex = (
	"-globalRef:type:",
	"-makeRefs:",
	"-mergeRefs:override:",
	"-addInformalProtocols:",
	"-methodsInUnit:",
	"-refs",
	"-setDirectory:",
	"-setGlobalRef:type:",
	"-setOutputs:forHeader:",
	"-setRelationship:from:to:",
	"-setSources:forHeader:",
	"-setUnitRef:type:",
	"-outputsForHeader:",
	"-sourcesForHeader:",
	"-unitRef:type:",
	"-unitRef:type:unit:"
    );
    AGSOutput = (
	"-checkComment:unit:info:",
	"-fitWords:from:to:maxSize:output:",
	"-output:",
	"-outputDecl:kind:to:",
	"-outputFunction:to:",
	"-outputInstanceVariable:to:for:",
	"-outputMacro:to:",
	"-outputMethod:to:for:",
	"-outputUnit:to:",
	"-reformat:withIndent:to:",
	"-split:",
	"-informalProtocols"
    );
    AGSParser = (
	"-info",
	"-orderedSymbolDeclarationsByUnit",
	"-init",
	"-outputs",
	"-parseComment",
	"-parseDeclaration",
	"-parseFile:isSource:",
	"-parseIdentifier",
	"-parseImplementation",
	"-parseInterface",
	"-parseInstanceVariables",
	"-parseMacro",
	"-parseMethodIsDeclaration:",
	"-parseMethodsAreDeclarations:",
	"-parseMethodType",
	"-parsePreprocessor",
	"-parseProtocol",
	"-parseProtocolList",
	"-parseSpace:",
	"-parseSpace",
	"-parseVersion",
	"-reset",
	"-setDeclared:",
	"-setDocumentInstanceVariables:",
	"-setDocumentAllInstanceVariables:",
	"-setGenerateStandards:",
	"-setStandards:",
	"-setWordMap:",
	"-setupBuffer",
	"-skipArray",
	"-skipBlock",
	"-skipBlock:",
	"-skipLiteral",
	"-skipRemainderOfLine",
	"-skipSpaces",
	"-skipStatement",
	"-skipStatementLine",
	"-skipToEndOfLine",
	"-skipUnit",
	"-sources"
    );
    GDNCNotification = (
	"+notificationWithName:object:data:"
    );
    GDNCServer = (
	"-addObserver:selector:name:object:suspensionBehavior:for:",
	"-connection:shouldMakeNewConnection:",
	"-connectionBecameInvalid:",
	"-postNotificationName:object:userInfo:deliverImmediately:for:",
	"-removeObserver:",
	"-removeObserversForClients:",
	"-removeObserver:name:object:for:",
	"-setSuspended:for:"
    );
    GSXMLParse = (
	"+loadEntity:at:"
    );
    NSDistributedNotificationCenterGDNCDummy = (
	"-postNotificationName:object:userInfo:selector:to:"
    );
}