BODY {
	BACKGROUND-COLOR: #eeeeee;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 90%;
}

H1 {
	FONT-SIZE: 26px;
	MARGIN-BOTTOM: 18px;
}

H2 {
	FONT-SIZE: 21px;
	MARGIN-BOTTOM: 18px;
}

H2.sh2 {
	FONT-SIZE: 21px;
}

H3 {
	FONT-SIZE: 16px;
}

H3.xmp {
	FONT-SIZE: 16px;
}

H3.xpl {
	FONT-SIZE: 16px;
}

H3.inf {
	FONT-SIZE: 16px;
}

H3.tip {
	FONT-SIZE: 16px;
}

H3.akt {
	FONT-SIZE: 16px;
}

H4 {
	FONT-SIZE: 13px;
}

P {
	COLOR: black;
	FONT-SIZE: 90%;
}

UL {
	COLOR: black;
	FONT-SIZE: 90%;
}

OL {
	COLOR: black;
	FONT-SIZE: 90%;
}

LI {
	MARGIN-TOP: 3px;
}

DIV {
	COLOR: black;
	FONT-SIZE: 90%;
}

TD {
	COLOR: black;
	FONT-SIZE: 90%;
}

TH {
	COLOR: black;
	FONT-SIZE: 90%;
}

ADDRESS {
	COLOR: black;
	FONT-SIZE: 90%;
}

BLOCKQUOTE {
	FONT-STYLE: italic;
}

PRE {
	COLOR: #0000c0;
	FONT-FAMILY: Courier New,Courier;
	FONT-SIZE: 13px;
}

CODE {
	COLOR: #0000c0;
	FONT-FAMILY: Courier New,Courier;
}

NOBR {
	FONT-FAMILY: Arial,sans-serif;
}

B {
	FONT-FAMILY: Arial,sans-serif;
}

I {
	FONT-FAMILY: Arial,sans-serif;
}

KBD {
	COLOR: #0000c0;
	FONT-FAMILY: Courier New,Courier;
}

TT {
	COLOR: #0000c0;
	FONT-FAMILY: Courier New,Courier;
}

VAR {
	COLOR: #0000c0;
	FONT-STYLE: normal;
}

BLOCKQUOTE {
	FONT-STYLE: italic;
}

CITE {
	FONT-STYLE: italic;
}

.listing {
	BACKGROUND-COLOR: #edf3fe;
	BORDER-BOTTOM-WIDTH: 2px;
	BORDER-LEFT-WIDTH: 2px;
	BORDER-RIGHT-WIDTH: 2px;
	BORDER-TOP-WIDTH: 2px;
}

.mlisting {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM-WIDTH: 2px;
	BORDER-LEFT-WIDTH: 2px;
	BORDER-RIGHT-WIDTH: 2px;
	BORDER-TOP-WIDTH: 2px;
}

.hline {
	COLOR: black;
	FONT-SIZE: 26px;
	MARGIN-BOTTOM: 14px;
}

.xmpcode {
	BACKGROUND-COLOR: #ffffe0;
	border-bottom-color: #eeeeee;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-left-color: #eeeeee;
	border-left-style: solid;
	border-left-width: 10px;
	border-right-color: #eeeeee;
	border-right-style: solid;
	border-right-width: 10px;
	border-top-color: #eeeeee;
	border-top-style: solid;
	border-top-width: 10px;
}

.code {
	BACKGROUND-COLOR: #ffffe0;
}

.tabxpl {
	BACKGROUND-COLOR: #e4eeff;
}

.doc {
	BACKGROUND-COLOR: #eeeeee;
}

.nav {
	BACKGROUND-COLOR: #ffeedd;
}

.qbar {
	BACKGROUND-COLOR: #ffffe0;
	FONT-FAMILY: Arial,sans-serif;
	FONT-SIZE: 13px;
}

.blue {
	COLOR: #0000c0;
}

PRE.normal {
	COLOR: #000000;
}

A:link {
	COLOR: black;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: black;
	TEXT-DECORATION: none;
}

A:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
}

A:hover {
	TEXT-DECORATION: underline;
}

A.an {
	TEXT-DECORATION: none;
}

.unicode {
	FONT-FAMILY: "Arial Unicode MS,Arial,sans-serif";
	FONT-SIZE: 15px;
}

.hauptmenue {
	FONT-SIZE: 150%;
}

.eingabefeld {
	BACKGROUND-COLOR: #ffffff;
}

INS {
	COLOR: #009900;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

DEL {
	COLOR: #990000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: line-through;
}

TEXTAREA {
	BACKGROUND-COLOR: #ffffff;
	FONT-SIZE: 140%;
	foreground-color: black;
}

.header {
	COLOR: white;
}

.header A:link {
	COLOR: black;
	TEXT-DECORATION: none;
}

.header A:visited {
	COLOR: black;
}

.header A:hover {
	COLOR: white;
	TEXT-DECORATION: underline;
}

.menu TD {
	BACKGROUND-COLOR: #ff0000;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-left-color: #000000;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
}

.menu A {
	COLOR: black;
	FONT-SIZE: 18px;
	TEXT-DECORATION: none;
}

.menu A:hover {
	COLOR: white;
	TEXT-DECORATION: underline;
}